# DLLs / cached files
__pycache__/
*.py[cod]/
*$py.class

# C extensions
*.so

# virtual environments
venv*/

# node modules
node_modules/

# Distributed / packaging files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/

# environment files
.env

# misc scripts
activate_env.sh

# Model files
*.safetensors
models

# debug files
launch.json